
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />

  <h1>{{ title }}</h1>
  <ul>
    <li *ngFor="let version of channels">
      <div [ngClass]="{ 'active': version.value === channel }"><a href="{{baseUrl}}?channel={{version.value}}">{{ version.name }}</a></div>
    </li>
  </ul>

  <tiny-test [config]="configurations.classicConf" [snippet]="snippets.basic" title="Classic Editor" [channel]="channel" ></tiny-test>
  <tiny-test [config]="configurations.inlineConf" [snippet]="snippets.basic" title="Inline Editor" [channel]="channel" ></tiny-test>
  <tiny-test [config]="configurations.quickbarsConf" [snippet]="snippets.basic" title="Classic Editor - Quickbars on classic and mobile" [channel]="channel" ></tiny-test>
  <tiny-test [config]="configurations.bottoolbarConf" [snippet]="snippets.basic" title="Classic Editor - bottom toolbar, quickbars, no mobile setup" [channel]="channel" ></tiny-test>
  <tiny-test [config]="configurations.resizeContent" [snippet]="snippets.full" title="Classic Editor - autoresize with random content" [channel]="channel" ></tiny-test>
  <!-- <tiny-test [config]="configurations.templateConfig" [snippet]="snippets.template" title="Templates" [channel]="channel" ></tiny-test> -->


</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

